# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/



*.DS_Store
# Large installation files
*.deb
dartsdk-linux-x64-release.zip

.flutter-plugins-dependencies
.flutter-plugins
.idea

macos/Flutter/GeneratedPluginRegistrant.swift

# Build artifacts
build/

.DS_Store
data/logs_atividade.json

# Backup files
*.bak
pubspec_build.yaml